.clients
 margin-bottom: 30rem
 &__header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1rem
 &__image
  margin-right: 2rem
  margin-left: 1rem
 &__text
  display: flex
  font-size: 1.428rem
  line-height: 1.928rem
  max-width: 25.7rem
  margin: 0 auto
  text-align: center
  margin-bottom: 2.785rem
  margin-top: 1rem
.card
 &__text
  &--client
   margin-top: 0
   max-width: 26.5rem
 &__list
  &--client
   padding: 0
   max-width: 23.1rem
 &__heading
  font-family: 'Yeseva One', cursive
  font-weight: normal
  font-size: 1.285rem
  line-height: 1.64rem

